
header {
  text-align: center;
  background: blue;
  height: 100px;
  width: 100px;
}
nav {
  background: gray;
  text-align: right;
  margin-bottom: 50px;
  border: 3px solid blue;
}
h3, h2 {
  border-bottom: 2px solid black;
}


.onetablefest {
  width: 500px;
}
.updatefest {
  /*margin: auto;*/
  border: 2px solid blue;
  padding: 50px;
}

.addnew {
  margin-top: 5px;
  padding-bottom: 5px;
}


.submitFest {
  margin-left: 250px;
  margin-top: 100px;

}
.imageShow {
  display: flex;
margin-left: 20px;
margin-top: 20px;
}

.festJumbo {
  display: flex;
  /*text-align: center;*/
  max-width: 1150px;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;


  margin-left: 275px;
  margin-top: 50px;

}
.jumbotron {
  border-radius: 10px;
}
.addFest {
  width: 600px;
  text-align: justify;
  margin: auto;
  margin-top: 10px;

}

.editFest {
  width: 400px;
  /*width: 500px;*/
  text-align: justify;
  margin: auto;
  margin-top: 10px;
  border: 3px solid black;
  margin-left: 10px;
  border-radius: 10px;

}
.oneFest {
  /*margin-top: 15px;
  margin-left: 230px;*/
  /*margin: auto;*/
  border: 3px solid black;
  border-radius: 15px;
  text-align: left;
  padding: 5px;
  min-height: 400px;
  min-width: 300px;
}

.update {
  text-align: center;
}

.updateFest {
  margin-bottom: 15px;
  /*width: 400px;*/
}
.comments {
  margin-left: 15px;
  margin-top: 15px;
  border: 3px solid black;
  border-radius: 15px;
  padding: 15px;
  max-height: 410px;
  text-align: left;
  width: 800px;


}
#exampleFormControlTextarea1 {
  width: 500px;
}
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

/*scroll for table=======================*/
  .table-wrapper-2 {
    display: block;
    max-height: 300px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    z-index: -1 !important;
}

.carousel-caption {
  z-index: -1 !important;
}

/*MODALS*/
/*.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important;
    z-index: 99 !important;
    overflow: auto !important;
    display: none !important;
    margin: 0 !important;
    background-color: white, !important;
}
.register-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%!important;
    z-index: 99 !important;
    overflow: auto !important;
    display: none !important;
}
.login-box, .register-box {
    background-color: #f2f2f2 !important;
    height: 200px !important;
    width: 200px !important;
    padding: 20px !important;
    border: 1px solid #ccc !important;
  color: black !important;
}*/
/*===============================Modal end


/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }

.hero {
  height: 200px;

}
